<h1><%= @book.title%></h1>
<p><%= @book.desc%></p>
<h3>Exercise Attempts</h3>
<table border="1">
  <tr>
    <th>ID &nbsp; &nbsp; &nbsp;</th>
    <th>User ID</th>
    <th>Section ID</th>
    <th>Question Name</th>
    <th>Request Type</th>
    <th>Worth Credit</th>
    <th>Time Done</th>
    <th>Time Taken</th>
    <th>Count Hints</th>
    <th>Hint Used</th>
    <th>Points Earned</th>
    <th>Earned Proficiency</th>
    <th>Count Attempts</th>
    <th>Correct</th>
    <th>PE Score</th>
  </tr>

  <% @ex_attempts[0..5].each do |attempt| %>
    <tr>
      <td><%= attempt.id %></td>
      <td><%= attempt.user_id %></td>
      <td><%= attempt.inst_section_id %></td>
      <td><%= attempt.question_name %></td>
      <td><%= attempt.request_type %></td>
      <td><%= attempt.worth_credit %></td>
      <td><%= attempt.time_done %></td>
      <td><%= attempt.time_taken %></td>
      <td><%= attempt.count_hints %></td>
      <td><%= attempt.hint_used %></td>
      <td><%= attempt.points_earned %></td>
      <td><%= attempt.earned_proficiency %></td>
      <td><%= attempt.count_attempts %></td>
      <td><%= attempt.correct %></td>
      <td><%= attempt.pe_score %></td>
    </tr>
  <% end %>
</table>
<br/>
<div id="attempts-param">
  <%= form_tag book_data_downloads_path() , :method => 'get' do %>
    <%= hidden_field_tag 'type', 'attempt' %>
    <%= radio_button_tag 'format', 'csv'%>CSV
    <%= radio_button_tag 'format', 'json'%>JSON
    <br/>
    <% unless @ex_attempts.first.nil? %>
      <% @ex_attempts.first.attributes.each do |attribute| %>
        <%= check_box("#{attribute[0]}", 'result',{checked: true}, 1,0) %>
        <%= label_tag("#{attribute[0]}", "#{attribute[0]}") %>
        <br />
      <% end%>
    <% end %>
    <%= submit_tag "Download File", data: { disable_with: "Please wait.." } %>
  <%end%>
</div>
<br/>
<%#= link_to '<button type="button">Download Attempts List (CSV)</button>'.html_safe, book_data_downloads_path(type: "attempt", format: :csv) %>
<br />
<%#= link_to '<button type="button">Download Attempts List (JSON)</button>'.html_safe, book_data_downloads_path(type: "attempt", format: :json) %>
<h3>Exercise Progresses</h3>
<table border="1">
  <tr>
    <th>ID &nbsp; &nbsp; &nbsp;</th>
    <th>User ID</th>
    <th>Section-Exercise ID</th>
    <th>Current Score</th>
    <th>Highest Score</th>
    <th>First Done</th>
    <th>Last Done</th>
    <th>Total Correct</th>
    <th>Total Worth Credit</th>
    <th>Proficient Date</th>
    <th>Current Exercise</th>
    <th>Correct Exercise</th>
    <th>Hinted Exercise</th>
  </tr>

  <% @ex_progresses[0..5].each do |progress| %>
    <tr>
      <td><%= progress.id %></td>
      <td><%= progress.user_id %></td>
      <td><%= progress.inst_book_section_exercise_id %></td>
      <td><%= progress.current_score %></td>
      <td><%= progress.highest_score %></td>
      <td><%= progress.first_done %></td>
      <td><%= progress.last_done %></td>
      <td><%= progress.total_correct %></td>
      <td><%= progress.total_worth_credit %></td>
      <td><%= progress.proficient_date %></td>
      <td><%= progress.current_exercise %></td>
      <td><%= progress.correct_exercises %></td>
      <td><%= progress.hinted_exercise %></td>
    </tr>
  <% end %>
</table>
<br/>
<div id="progress-param">
  <%= form_tag book_data_downloads_path() , :method => 'get' do %>
    <%= hidden_field_tag 'type', 'progress' %>
    <%= radio_button_tag 'format', 'csv'%>CSV
    <%= radio_button_tag 'format', 'json'%>JSON
    <br/>
    <% unless @ex_progresses.first.nil? %>
      <% @ex_progresses.first.attributes.each do |attribute| %>
        <%= check_box("#{attribute[0]}", 'result',{checked: true}, 1,0) %>
        <%= label_tag("#{attribute[0]}", "#{attribute[0]}") %>
        <br />
      <% end%>
    <% end %>
    <%= submit_tag "Download File", data: { disable_with: "Please wait.." } %>
  <%end%>
</div>
<br/>
<%#= link_to '<button type="button">Download Progresses List (CSV)</button>'.html_safe, book_data_downloads_path(type: "progress", format: :csv) %>
<br />
<%#= link_to '<button type="button">Download Progresses List (JSON)</button>'.html_safe, book_data_downloads_path(type: "progress", format: :json) %>
<h3>User Interactions </h3>
<table border="1">
  <tr>
    <th>ID &nbsp; &nbsp; &nbsp;</th>
    <th>User ID</th>
    <th>Section ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Action Time</th>
    <th>UIID</th>
    <th>Browser Family</th>
    <th>Browser Version</th>
    <th>OS Family</th>
    <th>OS Version</th>
    <th>Device</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>

  <% @interactions[0..5].each do |interaction| %>
    <tr>
      <td><%= interaction.id %></td>
      <td><%= interaction.user_id %></td>
      <td><%= interaction.inst_section_id %></td>
      <td><%= interaction.name %></td>
      <td><%= interaction.description %></td>
      <td><%= interaction.action_time %></td>
      <td><%= interaction.uiid %></td>
      <td><%= interaction.browser_family %></td>
      <td><%= interaction.browser_version %></td>
      <td><%= interaction.os_family %></td>
      <td><%= interaction.os_version %></td>
      <td><%= interaction.device %></td>
      <td><%= interaction.created_at %></td>
      <td><%= interaction.updated_at %></td>
    </tr>
  <% end %>
</table>
<%= link_to '<button type="button">Download Interactions List (CSV)</button>'.html_safe, book_data_downloads_path(type: "interaction", format: :csv) %>
<br />
<%= link_to '<button type="button">Download Interactions List (JSON)</button>'.html_safe, book_data_downloads_path(type: "interaction", format: :json) %>
<br />
<h2>Download Data by Students</h2>
<%= link_to '<button type="button">Students of Course</button>'.html_safe, book_users_list_path(@book.id) %>